body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1f2937;
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

a {
    color: #f9faf8;
    text-decoration: none;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight : 800;
}

.right-links, .hero-secondary {
    color: #e5e7eb;
    font-size: 18px;
}

.hero-section {
    background-color: #1f2937;
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 75px;
    padding-bottom: 75px;
    justify-content: center;
}

.hcontentleft, .hcontentright {
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis:0;
    gap: 10px;
}

.hero-main {
    font-size: 48px;
    font-weight: 800;
}

.hcontentright {
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hcontentleft {
    flex-wrap: wrap;
}

.ctabutton {
    background-color: #3882f6;
    border-radius: 25px;
    padding: 10px;
    width: 75px;
    height: 20px;
    display: flex;
    justify-content: center; 
}